<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.10.2" manuallyInstalled="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" manuallyInstalled="true" />
  <package id="Mono.Cecil" version="0.11.4" />
  <package id="MonoMod.RuntimeDetour" version="22.3.23.4" />
  <package id="MonoMod.Utils" version="22.3.23.4" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" />
  <package id="System.Security.AccessControl" version="5.0.0" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
</packages>